.input-box-container,
h1,
h2,
.output-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-box-container {
  flex-direction: column;
}

.input-box-container {
  height: 7vh;
  flex-direction: column;
}

.output-box {
  height: 50vh;
  letter-spacing: 5px;
  font-weight: 900;
}

.input-box,
.output-box {
  width: 65vw;
  font-size: 25px;
}

.input-box {
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .input-box {
    font-size: 20px;
  }
}
